server:
 port: 5002

spring:
 application:
   name: skill-cert-service
 jpa:
   database-platform: org.hibernate.dialect.PostgreSQLDialect
   generate-ddl: false
   hibernate:
     ddl-auto: none
   show-sql: true
   properties:
     hibernate:
       default_schema: cognizant_sc
       temp:
         use_jdbc_metadata_defaults: false
 datasource:
   driverClassName: org.postgresql.Driver

   url: ${DB_URL}
   username: ${DB_USERNAME}
   password: ${DB_PASSWORD}
   initialization-mode: NEVER
   
eureka:
  client:
    enabled: true
    service-url:
#     http://localhost:8761/eureka
      defaultZone: http://ec2-52-33-125-157.us-west-2.compute.amazonaws.com:8761/eureka